= form_for @home do |f|
  = f.label :max_guests, t(:max_guests)
  = f.number_field :max_guests
  = f.label :location, t(:location)
  = f.text_field :location
  = f.label :description, t(:description)
  = f.text_area :description
  = f.submit t(:save)
