%ul.list-unstyled
  = form_for @home do |f|
    %li= f.label :max_guests, t(:max_guests)
    %li= f.number_field :max_guests
    %li= f.label :location, t(:location)
    %li= f.text_field :location
    %li= f.label :description, t(:description)
    %li= f.text_area :description
    %li
      = f.submit t(:save), class: 'btn btn-primary'
      = link_to t(:cancel), home_path(@home)
