%h1= t(:following)

%ul
  - @refugees.each do |refugee|
    %li
      = link_to "#{refugee.name} #{refugee.firstname}", refugee_path(refugee)
      \-
      = refugee.confirmed ? t(:profile_valid) : t(:profile_not_valid)
