!!! 5
%html
  %head
    %title Calm
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    - if refugee_signed_in?
      = current_refugee.email
      |
      = link_to t(:logout), destroy_refugee_session_path, method: 'delete'
    - if mediator_signed_in?
      = current_mediator.email
      |
      = link_to t(:logout), destroy_mediator_session_path, method: 'delete'
    - if host_signed_in?
      = link_to current_host.email, edit_host_path(current_host)
      |
      = link_to t(:logout), destroy_host_session_path, method: 'delete'

    %p{class: "notice"}= notice
    %p{class: "alert"}= alert
    = yield

